/build/
/nbproject/private/
/*/build/
/*/test/
/*/nbproject/private/

.DS_Store

/nbbuild/nbms/
/Tools/business-financial-data-september-2022-quarter.csv
/Tools/45 Tips to become a better developer.pptx
